# Cloudflare R2 Configuration
R2_ACCESS_KEY=beffbe27730fa7c7f9109350a2bf806d
R2_SECRET_KEY=2d2cc4788d948800f85760e71b130a737a770facbcfd28561d665347ac79ee64
R2_ACCOUNT_ID=d97a26af80b1828b43706447289e413e
R2_BUCKET=book-app-storage

# Server Configuration
PORT=3000
NODE_ENV=production

# CORS Configuration (for React Native)
CORS_ORIGIN=*

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
